/*PRODUCTOS CON BOOTSTRAP + NUESTROS PRODUCTOS EN CSS*/

.container{
    max-width: 100%;
    height: 100%;
    padding: 15px;
}

.title-producto-bts{
    font-size: 70px;
    font-family:$font-family;
    margin-bottom: 0;
}

.row{
    width: 100%;
    height: 100%;
}

.card{
    min-width: 265px;
    max-width: 330px;
    transition: 1s;

    .card-text{
        width: 100%;;
    }

    img{
        height: 400px;
    }

    .card-body{
        min-height: 170px;
        @extend %tamano;

        .btn{
            height: 40px;
        }
    }

    &:hover{ 
        background-image: linear-gradient(#86A3B8,#7286D3);
        }

}

.row>*{
    width: auto;
}

/* TITULOS PRODUCTOS */
.title-mangas{
    color: $font-color-2;
    background-color: #000000;
    width: 100%;
    height: 90px;
    font-family: $font-family;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.6;

}
.title_producto{
    @extend %titulos_diseno;
    
}

.carousel-item{
    width: 100%;
    height: 500px;

    img{
        @include imagen(100%,100%);
    }
}

.title-productos{

    font-size: 50px;
    font-family: $font-family;
    margin-bottom: 0;
    

}