
%body-card{

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

%titulos_diseno{
    color: $font-color;
    background-image: url(../assets/fondo_index.jpg);
    background-repeat:no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 90px;
    font-family: $font-family;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.6;
}